<!-- <!DOCTYPE html> -->
{% extends 'base_layout.html' %}
  
                 

                    {% block content %}
                        {% if user.is_authenticated %}
                            Hi {{ user.username }}!
                            <li role="presentation">
                                <form class="form-inline" action="{% url 'microlly_app:logout' %}" method="POST">
                                    {% csrf_token %}
                                    <button  type="submit">LOG OUT</button>
                                </form>
                            </li>
                        {% else %}
                            <p>You are not logged in</p>
                                <li role="presentation">
                                    <form class="form-inline" action="{% url 'microlly_app:login' %}" method="POST">
                                        {% csrf_token %}
                                        <button  type="submit">LOG IN</button>
                                    </form>
                                </li>
                                <li role="presentation">
                                    <form class="form-inline" action="{% url 'microlly_app:signup' %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit">SIGN UP</button>
                                    </form>
                                </li>
                        {% endif %}
                    

            <!-- manque un div-->
            {% if latest_publis %}
                <article class="row">
                    {% for publi in latest_publis %}
                        <div >
                            <div>
                                <div >
                                    <h4>
                                        <a  href="{% url 'microlly_app:details' publi.slug publi.pk %}">
                                            {{ publi.title }}</a>
                                    </h4>
                                    <p>
                                        {{publi.preview}}
                                    </p>
                                </div>
                                <div>
                                    <p>
                                        <small>
                                            Posted by: <a href="{% url 'microlly_app:p_user_list' publi.author %}">{{publi.author}}</a>
                                            <span></span>
                                            on {{publi.creation_date}}
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            Last update: {{publi.update_date}}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </article>

                <nav>
                    <ul>
                        {% if latest_publis.has_previous %}
                        <li> <a href="?page=1">&laquo; first</a> </li>
                        <li ><a  href="?page={{ latest_publis.previous_page_number }}">previous</a></li>
                        {% endif %}
                        {% if latest_publis.has_next %}
                        <li><a href="?page={{ latest_publis.next_page_number }}">next</a></li>
                        <li><a href="?page={{ latest_publis.paginator.num_pages }}">last &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>

            {% else %}
                <p>Aucunes publications.</p>
            {% endif %}

            {% endblock %}
<!--             
            <footer>
                <p>&copy; {% now 'Y' %} LIN et MERLIER</p>
                </footer>
        </div>
      
    </body>

</html> -->