<!-- templates/users_pages/login.html -->
<!-- <h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form> -->

{% block section-title %}
Login
{% endblock %}

{% block content %}
<form class="d-flex flex-column" action="{% url 'microlly_app:login' %}" method="POST">
    {% csrf_token %}
    {% include 'form.html' with form=form %}
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif %}
    <input type="submit" class="btn btn-dark" value="Login">
</form>
{% endblock %}
