{% extends '_base.html' %}

{% block section-title %}
Details
{% endblock %}

{% block content %}
<div class="card-container">
    <div class="card border border-lightgreen mb-3">
        <div class="card-body">
            <h4 class="card-title">
                <a class="badge badge-lightgreen" href="{% url 'microlly_app:details' publi.slug publi.pk %}">
                    {{ publi.title }}</a>
            </h4>
            <p class="card-text">
                {{ publi.body }}
            </p>
        </div>
        <div class="card-footer">
            <p class="card-text">
                <small class="text-muted">
                    Posted by: 
                    {% if user.is_authenticated%}
                    <a href="{% url 'microlly_app:p_user_list' publi.author %}">{{ publi.author }}</a>
                    {% else %}
                        {{ publi.author }}
                    {% endif %}
                    <span class="text-dark"></span>
                    on {{ publi.creation_date }}
                </small>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    Last update: {{ publi.update_date }}
                </small>
            </p>
        </div>
    </div>
</div>



{% if user.is_authenticated and user == publi.author %}
<div class="container d-flex flex-column justify-content-center">
    <form class="my-1" action="{% url 'microlly_app:delete' publi.slug publi.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" >Delete</button>
    </form>
    <form class="my-1" action="{% url 'microlly_app:edit' publi.slug publi.pk %}">
        {% csrf_token %}
        <button type="submit" >Edit</button>
    </form>
</div>
{% endif %}

{% endblock %}
