{% extends 'base_layout.html' %}
{% block content %}
    <form $action="{% url 'microlly_app:edit' publi.slug publi.pk %}" method="POST">
        {% csrf_token %}
        {% include 'form.html' with form=form %}
        <input type="submit"  value="Edit">
    </form>
    <form action="{% url 'microlly_app:delete' publi.slug publi.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" >Delete</button>
    </form>
{% endblock %}
