{% extends 'base_layout.html' %}

{% block content %}
<article class="row">
    {% for publi in p_user_list %}
    <div>
        <div>
            <div>
                <h4>
                    <a href="{% url 'microlly_app:details' publi.slug publi.pk %}">
                        {{ publi.title }}</a>
                </h4>
                <p>
                    {{publi.preview}}
                </p>
            </div>
            <div>
                <p>
                    <small>
                        Posted by: <a href="{% url 'microlly_app:p_user_list' publi.author %}">{{publi.author}}</a>
                        <span></span>
                        on {{publi.creation_date}}
                    </small>
                </p>
                <p>
                    <small>
                        Last update: {{publi.update_date}}
                    </small>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</article>

<nav>
    <ul>
        {% if p_user_list.has_previous %}
        <li> <a  href="?page=1">&laquo; first</a> </li>
        <li><a href="?page={{ p_user_list.previous_page_number }}">previous</a></li>
        {% endif %}
        {% if p_user_list.has_next %}
        <li><a href="?page={{ p_user_list.next_page_number }}">next</a></li>
        <li ><a href="?page={{ p_user_list.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

