<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/normalize.css' %}" />
    <title>Microlly</title>
</head>


<body>
    <header class="banner">
        <nav >
            <div>
                <ul >
                        <li role="presentation">
                        <form class="form-inline" action="{% url 'microlly_app:index' %}" method="POST">
                            {% csrf_token %}
                            <button  type="submit">HOME</button>
                        </form>
                    </li>
                    {% if user.is_authenticated %}
                    <li role="presentation">
                        <form class="form-inline" action="{% url 'microlly_app:create' %}" method="POST">
                            {% csrf_token %}
                            <button  type="submit">CREATE</button>
                        </form>
                    </li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li class="nav-item mx-1">
                        <a  href="/admin">ADMIN</a>
                    </li>
                    {% endif%}
                </ul>
            </div>
        </nav>
        <div >
                <h3 class="text-muted">🎲 Microlly</h3>
                </div>
    </header>
    <div >
            {% block content %}
            {% endblock %}
    </div>

    <footer >
        <div class="container">
            <p>&copy; {% now 'Y' %} LIN et MERLIER</p>
        </div>
    </footer>


</body>

</html>
